<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Vehiculos en el Parqueadero
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Hora y Fecha de Ingreso</th>
                <th>Tipo de Vehículo</th>
                <th>Placa</th>
                <th>Cilindraje</th>                
                <th>Registrar Salida</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registro of registros">
                <td>{{registro.horaIngreso}}</td>
                <td>{{registro.vehiculo.tipoVehiculo}}</td>
                <td>{{registro.vehiculo.placa}}</td>
                <td>{{registro.vehiculo.cilindraje}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-space btn-registrar-salida" (click)="confirmarSalida(registro.vehiculo.placa)">Cobrar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmación" [responsive]="true" acceptLabel="Si" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

<p-dialog [responsive]="true" [(visible)]="mostrarRecibo" [modal]="true" [showHeader]="false">
  <div *ngIf="registroSalida!=null">
    <h1 style="text-align: center;">Tiquete de Salida</h1>
    <h3 style="text-align: center;">{{registroSalida.vehiculo.placa}}</h3>
    <h5 style="text-align: center;">Hora Sntrada:</h5>
    <h5 style="text-align: center;">{{registroSalida.horaIngreso}}</h5>
    <h5 style="text-align: center;">Hora Salida:</h5>
    <h5 style="text-align: center;">{{registroSalida.horaSalida}}</h5>
    <h5 style="text-align: center;">Valor a Pagar:</h5>
    <h5 style="text-align: center;">{{registroSalida.valor | currency}}</h5>

    <button type="button" class="btn btn-primary btn-space" (click)="cerrarRecibo()">Aceptar</button>

  </div>
</p-dialog>