<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Listado de Vehiculos en el Parqueadero
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Hora y Fecha de Ingreso</th>
              <th>Tipo de Vehículo</th>
              <th>Registro Salida</th>
              <th>Placa</th>
              <th>Cilindraje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registro of registros">
              <td>{{registro.horaIngreso}}</td>
              <td>{{registro.vehiculo.tipoVehiculo}}</td>
              <td>{{registro.vehiculo.placa}}</td>
              <td>{{registro.vehiculo.cilindraje}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-space" (click)="confirmarSalida(registro.vehiculo.placa)">Cobrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmación" acceptLabel="Si" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>