<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Registro de entrada</strong>
        </div>
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="submit(form)">
            <div class="row">
              <input id="id" name="id" [(ngModel)]="id" type="hidden">
              <div class="form-group col-sm-4">
                <label for="placa">Placa</label>
                <input id="placa" type="text" name="placa" maxlength="6" [(ngModel)]="placa" [disabled]="id!=null" required (blur)="consultarVehiculo()" class="form-control">
              </div>
              <div class="form-group col-sm-4">
                <label for="tipoVehiculo">Tipo de vehiculo</label>
                <select id="tipoVehiculo" name="tipoVehiculo" required [disabled]="id!=null" [(ngModel)]="tipoVehiculo" class="form-control">
                  <option [ngValue]="null" disabled selected>Seleccione el tipo de vehiculo</option>
                  <option value="CARRO">Carro</option>
                  <option value="MOTO">Moto</option>
                </select>
              </div>
              <div *ngIf="tipoVehiculo=='MOTO'" class="form-group col-sm-4">
                <label for="cilindraje">Cilindraje</label>
                <input id="cilindraje" [required]="tipoVehiculo=='MOTO'" [disabled]="id!=null" maxlength="4" name="cilindraje" type="text" [(ngModel)]="cilindraje"
                  class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-primary btn-space" [disabled]="!form.valid">Registrar Entrada</button>
                <button type="button" class="btn btn-secondary btn-space" (click)="limpiar()">Cancelar</button>
              </div>
            </div>

            <p-messages [(value)]="msgs"></p-messages>
            <!--/.row-->
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<p-dialog [(visible)]="mostrarRecibo" [responsive]="true" [modal]="true" [showHeader]="false">
  <div *ngIf="recibo!=null">
    <h1 style="text-align: center;">Tiquete de ingreso</h1>
    <h3 style="text-align: center;">{{recibo.vehiculo.placa}}</h3>
    <h5 style="text-align: center;">Hora entrada:</h5>
    <h5 style="text-align: center;">{{recibo.horaIngreso}}</h5>

    <button type="button" class="btn btn-primary btn-space" (click)="cerrarRecibo()">Aceptar</button>

  </div>
</p-dialog>